/* Infrastructure.css */
.infra-section {
    padding: 4rem 0;
    background-color: #fff;
}

@media (max-width: 768px) {
    .infra-section {
        /* background-color: red; */
        padding: 0rem 0;
    }
}

.infra-header {
    /* background-color: green; */
    padding: 0rem 10px;
    /* font-size: 0.8rem; */
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.infrastructure-title {
    font-size: 2.5rem;
    /* font-weight: 700; */
    margin-bottom: 1rem;
    line-height: 1.1;
    font-family: var(--font-family);
    /* font-family: 'Helvetica', 'Arial', sans-serif; */
    letter-spacing: -1px;
    text-transform: uppercase;
}

@media (min-width: 768px) {
    .infra-header {
        flex-direction: row;
        align-items: flex-end;
    }
}

.infra-tabs {
    display: flex;
    overflow-x: auto;
    gap: 1rem;
    margin-bottom: 2.5rem;
    border-bottom: 1px solid #e5e7eb;
    /* gray-200 */
    padding-bottom: 1rem;
    scrollbar-width: none;
}

.infra-tabs::-webkit-scrollbar {
    display: none;
}

.tab-btn {
    padding: 0.5rem 1.5rem;
    border-radius: 9999px;
    font-weight: 500;
    white-space: nowrap;
    transition: all 0.3s;
    border: none;
    background-color: #f3f4f6;
    /* gray-100 */
    color: #4b5563;
    /* gray-600 */
}

.tab-btn:hover {
    background-color: #e5e7eb;
}

.tab-btn.active {
    background-color: #000;
    color: #fff;
}

.infra-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
}

@media (min-width: 768px) {
    .infra-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

.main-image-wrapper {
    grid-column: span 1;
    height: 20rem;
    /* h-80 */
    border-radius: 1.5rem;
    overflow: hidden;
    position: relative;
}

@media (min-width: 768px) {
    .main-image-wrapper {
        grid-column: span 2;
        height: 500px;
    }
}

.infra-main-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.7s;
}

.main-image-wrapper:hover .infra-main-image {
    transform: scale(1.05);
}

.side-images-col {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    height: 500px;
}

.side-image-wrapper {
    height: 50%;
    border-radius: 1.5rem;
    overflow: hidden;
    position: relative;
}

.infra-side-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.7s;
}

.side-image-wrapper:hover .infra-side-image {
    transform: scale(1.05);
}